<mat-icon appAgeStatus [date]="age" class="flag">chevron_left</mat-icon>
<div class="card-page-img" [style.background-image]="'url(&quot;' + youtubeService.searchListWithStat[youtubeService.currentId].snippet.thumbnails.high.url + '&quot;)'" class="video-container"></div>
<div  class="description-container">
    <div class="card-page-title">
        <div class="card-page-title-text">{{youtubeService.searchListWithStat[youtubeService.currentId].snippet.title}}</div>
        <div class="card-page-title-date">{{youtubeService.searchListWithStat[youtubeService.currentId].snippet.publishedAt | date:'fullDate'}}</div>
    </div>
    <div class="card-page-description">
        <div class="card-page-description-title">Description</div>
        <div class="card-page-description-text">{{youtubeService.searchListWithStat[youtubeService.currentId].snippet.description}}</div>
    </div>
    <app-stat-bar [index]="youtubeService.currentId"></app-stat-bar>
    <div appAgeStatus [date]="age" class="status-card-page"></div>
</div>