<header>
    
    <button class="play-btn" mat-raised-button><mat-icon>play_arrow</mat-icon></button>

    <input class="search-field" type="search" placeholder="What do you want to find out?">
        
    <button routerLink="search-result" class="search-btn" mat-raised-button (click)="runSearchService.runSearch()">
        search
    </button>
    <button class="settings-btn" mat-raised-button (click)="toggleSortBar.toggleVisibility()"><mat-icon>tune</mat-icon></button>

    <div class="user-bar">
        <span>Your Name</span>
        <button class="settings-btn" mat-raised-button><mat-icon>account_circle</mat-icon></button>
    </div>
    
</header>
<app-sort-bar *ngIf="toggleSortBar.isBarVisible"></app-sort-bar>