$bg-header-color: #E5E5E5;
$btn-color: #2F80ED;
$search-field-bg: #EFEFEF;

header{
    width: 100%;
    height: 80px;
    background: $bg-header-color;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    button{
        background: $btn-color;
        color:white;
    }
    .play-btn{
        min-width: 50px;
        padding: 0;
    }
    .search-field{
        background: $search-field-bg;
        width: 396px;
        height: 24px;
        border: none;
        margin-left: 16px;
    }
    .settings-btn{
        margin-left: 10px;
        min-width: 24px;
        padding: 5px;
        line-height: 24px;
    } 
}
