<header>
<button class="play-btn" mat-raised-button><mat-icon>play_arrow</mat-icon></button>
  <input 
    (ngModelChange)="youtubeService.searchValue.next($event)"  
    [(ngModel)]="youtubeService.searchKeyWord" 
    class="search-field" 
    type="search" 
    placeholder="What do you want to find out?"
  >
  <button class="settings-btn" mat-raised-button (click)="sortService.toggle()">
    <mat-icon>tune</mat-icon>
  </button>

  <app-user-bar></app-user-bar>
</header>
<app-sort-bar *ngIf="sortService.isBarVisible"></app-sort-bar>
