<form class="example-form">
    <p class="login-title">Login</p>
    <mat-form-field class="example-full-width" appearance="standard">
      <mat-label>Login</mat-label>
      <input [(ngModel)]="authService.login" matInput placeholder="Name" name="login">
    </mat-form-field>
  
    <mat-form-field class="example-full-width" appearance="standard">
      <mat-label>Password</mat-label>
      <input [(ngModel)]="authService.password" matInput placeholder="Password" name="password">
    </mat-form-field>

    <button type="submit" mat-raised-button (click)="authService.logUser()">submit</button>
  </form>